<h2>dashboard</h2>
<div [ngClass]="getClass()">
  <div class="col-left">
    <div class="card welcome-card">
      <div class="card-head welcome-head-container">
        <div class="col-lef">
          <div>Welcome Back!</div>
          <p>Angular Dashboard</p>
        </div>
        <div class="col-right">
          <img [src]="'assets/profile-bg-3.png'" alt="">
        </div>
      </div>
      <div class="card-body welcome-body-contianer">
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat est nemo repellat deserunt id non a autem officia optio, molestiae earum cumque dolorum assumenda aliquid quis quod explicabo aut inventore.

      </div>
    </div>

  </div>

  <div class="col-right">

  </div>

</div>

<div class="card">
  <div class="card-head">Lorem ipsum - dashboard</div>
  <div class="card-body">
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat est nemo repellat deserunt id non a autem officia optio, molestiae earum cumque dolorum assumenda aliquid quis quod explicabo aut inventore.
     <i class="fa fa-user"></i>
  </div>
</div>

<br>
<br>

<div class="card">
  <div class="card-head">Lorem ipsum - dashboard</div>
  <div class="card-body">
    What is Lorem?
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus esse accusamus id, dignissimos temporibus quibusdam quos deleniti, inventore ratione in laudantium aliquid aut odio, molestiae suscipit quae! Alias, et distinctio.

    why do we use?
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat est nemo repellat deserunt id non a autem officia optio, molestiae earum cumque dolorum assumenda aliquid quis quod explicabo aut inventore.

    where does it come from?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo architecto impedit modi veritatis, corporis velit eos eum, suscipit magni obcaecati quibusdam et? Minima porro, iste sunt dolores labore necessitatibus quas.
  </div>
</div>
